<% include header2   %>
<html>
<body style="background-image: url('static/bg_black.jpg'); background-size:cover; background-repeat:no-repeat;">
  <nav id="home_navigator">
    <div class="nav-wrapper grey">
      <a href="#" class="brand-logo" style="padding-left:1em;font-size:20px;">Coronavirus Rapid Awareness Solution (CRAS) </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/main" target="_blank">Take the Quiz!</a></li>
        <li><a href="#">Learn about the Virus</a></li>
        <li><a class="waves-effect waves-light modal-trigger" href="#linksmodal">Verified Links</a></li>
      </ul>
    </div>
  </nav>
  <nav id="mob_nav" class="orange" style="height:70px;">
  <a href="#" class="brand-logo"><h5><b>C.R.A.S.</b></h5> </a>
  <ul id="slide-out" class="sidenav white">
    <li><div class="user-view">
      <div class="background">
        <img src="static/CRAS.png">
      </div>
      <a href="#"><span class="black-text name" style="padding-bottom:80px;"></span></a>
    </div></li>
    <li><h4 style="padding-left:5px;"><b><br>Options</h4></b> </li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect waves-light" href="/main"><i class="material-icons">assignment</i>Take the Quiz!</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect waves-light modal-trigger" href="#linksmodal"><i class="material-icons">contact_phone</i>Verified Links</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="btn-floating btn-large grey sidenav-trigger pulse" id="menu_icon" style="margin-top:6px;"><i class="material-icons">menu</i></a>
    </nav>
   
  <div id="linksmodal" class="modal">
    <div class="modal-content">
      <blockquote><h4><b><center>Verified Links for Help & Info</center></b></h4></blockquote>
      <table class="striped">
      <tr><td>HELPLINE NUMBERS [by State]</td><td><a class="btn pulse" href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf">Link</a></td></tr>
      <tr><td>Ministry of Health and Family Welfare, Gov. of India</td><td><a class="btn pulse" href="https://www.mohfw.gov.in/">Link</a></td></tr>
      <tr><td> WHO : COVID-19 Home Page </td><td><a class="btn pulse" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">Link</a></td></tr>
      <tr><td>CDC</td><td><a class="btn pulse" href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html">Link</a></td></tr>
      <tr><td>Crowdsourced list of Resources & Essentials from across India</td><td><a class="btn pulse" href="https://bit.ly/covid19resourcelist">Link</a></td></tr>
      <tr><td>COVID-19 Global Tracker</td><td><a class="btn pulse" href="https://coronavirus.thebaselab.com/">Link</a></td></tr>
      </table>  
      </ul>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

   <div class="parallax-container" style="height:150px;">
      <div class="parallax"><img src="static/image/parallax.jpg"></div>
  </div>
        
 <div class="row">
 <div class="col s4">
 <div class="carousel left" style="margin-left:0%;z-index:1;">
    <a class="carousel-item"><img class="materialboxed hoverable infog" height="300" width="200" src="./static/image/1.jpg"></a>
    <a class="carousel-item"><img class="materialboxed hoverable infog" height="300" width="200" src="./static/image/2.jpg"></a>
    <a class="carousel-item"><img class="materialboxed hoverable infog" height="300" width="200" src="./static/image/3.jpg"></a>
  </div>
  </div>
  <div class="col s8">
 
 <div class="card" style="z-index:0;">
    <div class="card-content">
      <p><center><h4><b>Know the COVID-19</b></h4></center> </p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#abt">Overview</a></li>
        <li class="tab"><a href="#prevent">Prevention</a></li>
        <li class="tab"><a href="#symp">Symptoms</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="abt"><p><b>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.

      Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
      <br><br>
      The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. 
      <br><br>
      The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
        <br><br>
      At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon as clinical findings become available.</b></p></div>
      <div id="prevent"><b>
      To prevent infection and to slow transmission of COVID-19, do the following:
      <br><br><ol>
      <li>Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
      <li>Maintain at least 1 metre distance between you and people coughing or sneezing.</li>
      <li>Avoid touching your face.</li>
      <li>Cover your mouth and nose when coughing or sneezing.</li>
      <li>Stay home if you feel unwell.</li>
      <li>Refrain from smoking and other activities that weaken the lungs.</li>
      <li>Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people. </li>
      </ol></b>
      </div>  
      <div id="symp"><b>
      The COVID-19 virus affects different people in different ways.  COVID-19 is a respiratory disease and most infected people will develop mild to moderate symptoms and recover without requiring special treatment.  People who have underlying medical conditions and those over 60 years old have a higher risk of developing severe disease and death.

      Common symptoms include:

          <ol><li>fever</li>
          <li>tiredness</li>
          <li>dry cough.</li>
          </ol></b>
      </div>
    </div>
  </div>
  </div>
  </div>


<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><b>Why is this important?</b></h5>
        <p class="grey-text text-lighten-4">As we all face this difficult times locked-down in our homes, we really need to make sure we know the latest news. As a responsible citizen, it is our duty to stay aware and stay put in our homes.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"><b>Contact for Suggestions </b></h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/shakul-pathak-402a6998/" style="padding-left:15%;">
          <i class="small material-icons">person_pin</i></a> 
          <a class="grey-text text-lighten-3" href="mailto:shakulpathak.iitkgp@gmail.com" style="padding-left:20%;">
          <i class="small material-icons">markunread</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="float:bottom;">
    <div class="container">
    Made with ❤ (2020)
    <a class="grey-text text-lighten-4 right btn purple" href="https://www.who.int/">WHO Website</a>
    </div>
  </div>
</footer>
        
</body>
      
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script>
    $(document).ready(function(){
    $('.carousel').carousel();
    $('.parallax').parallax();
    $('.materialboxed').materialbox();
    $('.tabs').tabs();
    $('.modal').modal();
    $('.sidenav').sidenav();
  });
  </script>
</html>