@media only screen and (max-width: 768px) {
  #home_navigator
  {
  	display: none;

  }
  .infog
  {
  	height: 150px;
  	width : 50%;
  	margin-left: 30%;
  }
  #abt, #symp, #prevent
  {
  	height: 150px;
  	overflow: scroll;
  }
    #menu_icon
  {
  	margin-top:3%;
  }

}
@media only screen and (min-width: 768px) {
  #slide-out, #menu_icon, #mob_nav
  {
  	display: none;

  }

  
}